section#home.page-content.text-center
  h1.display-3 Welcome to the Quick IQ Test!
  h6.title This test does not take long and still gives you a good approximation of your true IQ.
  button.start-now.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent(ui-sref="test") Start now >
  
  //-   .mdl-card__title
  //-     h2.mdl-card__title-text "Allo, "Allo!
  //-   .mdl-card__supporting-text
  //-     | Always a pleasure scaffolding your apps.
  //-   .mdl-card__actions.mdl-card--border
  //-     a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect
  //-       | Splendid Toastr
  //-   .mdl-card__menu
  //-     button.mdl-button.mdl-button--icon.mdl-js-button.mdl-js-ripple-effect
  //-       i.material-icons share
  //- .mdl-grid
  //-   .mdl-cell.mdl-cell--4-col(ng-repeat="awesomeThing in main.awesomeThings | orderBy:'rank'")
  //-     .acme-card-square.mdl-card.mdl-shadow--2dp
  //-       .mdl-card__title
  //-         h2.mdl-card__title-text {{ awesomeThing.title }}
  //-       .mdl-card__media
  //-         img(ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}")
  //-       .mdl-card__supporting-text
  //-         | {{ awesomeThing.description }}
  //-       .mdl-card__actions.mdl-card--border
  //-         a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(ng-href="{{ awesomeThing.url }}")
  //-           | Website
