section#results.page-content.text-center
  h2.display-2 Well done!
  h6.title You are {{desc}} average #[br] #[br] Your IQ is:
  .brain-holder.text-center
    .brain
    .brain-fill
    .score.mdl-color-text--amber {{score}}
