header#navbar.mdl-layout__header
  .mdl-layout__header-row
    // Title
    a.mdl-layout-title(ui-sref="home")
      .mdl-logo
        img#logo(src="assets/images/logo.png")
      .mdl-logo
        span#logo-name IQ Analysis
    // Add spacer, to align navigation to the right
    .mdl-layout-spacer
    // Navigation
    nav.mdl-navigation
      a.mdl-navigation__link(href="") About
      a.mdl-navigation__link(href="") Sign In
      .mdl-navigation__link(href="")
        button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent Register
